*{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

/* @font-face {
    font-family: "fonte_smtMobile";
    src: url("fonts/fonte_smtMobile.eot");
    src: url("fonts/fonte_smtMobile.eot?#iefix") format("embedded-opentype"),
         url("fonts/fonte_smtMobile.woff") format("woff"),
         url("fonts/fonte_smtMobile.ttf") format("truetype"),
         url("fonts/fonte_smtMobile.svg#fonte_smtMobile") format("svg");
    font-weight: normal;
    font-style: normal;
} */

html, body {
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;   
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
  }

  .month{
    width: 70%;
    height: 25px;
}

.clndr-seta-button {
    width:100%;
	height:100%;
	font-size: large;
	background-color: rgba(0, 0, 0, 0.3);
}

.clndr-control-button{
    width:15%;
	height:25px;
}

.clndr-table{
    width:100%;
    background-color: rgba(255, 255, 255, 0);
}

.clndr-table thead tr{
    background-color: rgba(255, 255, 255, 0);
}

.clndr-table tbody tr{
    background-color: rgba(255, 255, 255, 0);
}

.clndr-table tr{
    background-color: rgba(255, 255, 255, 0);
}

.header-days{
    background-color: rgba(255, 255, 255, 0);
}

.day{
    background-color: rgba(255, 255, 255, 0);
}

.event{
    background-color: rgba(70,130, 180, 0.5);
}

.adjacent-month{
    color: rgba(0, 0, 0, 0.3);
}

  .fotoServidor{
	  width: 60px;
	  height: 60px;
	  border-radius: 30px;
  }

  #spanMatriculaDadosPessoais{
	font-size: x-large;
	font-weight: bold;
  }
  #spanNomeDadosPessoais{
	font-size: medium;
	font-weight: bold;
  }
  #spanPostoDadosPessoais{
	font-size: x-small;
	font-weight: normal;
  }
  #spanPerfilAcessoDadosPessoais{
	font-size: small;
	font-weight: bold;
	color: rgba(0, 0, 0,0.4);
  }

  .appPaginaNivelAcesso{
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
	vertical-align: middle;
	padding: 0px;
	align-content: center;
	text-align: center;
  }

  .mapbox-logo-true{
	display: none;
  }

  .appListaDivScrlolling{
	width: 300px;
	height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
  }

  #publicacoesTable td{
	  text-align: center;
	  font-family: Arial, Helvetica, sans-serif;
	  color: black;
	  font-size: small;
  }

  #nextBtnDenunciasDiv{
	position: absolute;
	right: 5px;
	bottom: 5px;
	z-index: 100;
	float: right;
	display: none;
  }

  .inputPlaca{
	display: none;
	text-align: center;
	text-transform: uppercase;
  }

  #imgDivAppDenuncias{
	position: relative;
	width: 300px;
	height: 150px;
	top:0px;
	left:0px;
	border-radius: 2px;
	background: url(../img/fotoDenunciasBackground.png) center no-repeat;
	background-color: rgba(255, 255, 255,1);
	font-size: small;
	color: rgb(138, 138, 138);
	font-weight: bold;
	line-height: 90px;
	text-align: center;
  }

  #imgImgAppDenuncias{
	width: 300px; 
	height: 150px; 
	border-radius: 2px;
  }

  #inputObservacaoDenuncia{
	width: 280px;
	height: 50px;
	border-width: 0px;
	border-radius: 2px;
	padding: 10px;
	resize: none; 
	background-color: rgba(255,255,255,1);
	color: rgb(0,0,0); 
	font-weight: normal; 
	font-size: small;
	margin-top: 10px;
	margin-bottom: 10px;
  }

  #fotoBtnDivAppDenuncias{
	  position: relative;
	  width: 0px;
	  height: 0px;
	  right: 50px;
	  bottom: 44px;
	  float: right;
	  opacity: 0.8;
  }
  
  #tipoDenuncia{
	width: 300px; 
	margin-top:10px; 
	margin-bottom: 0px;	  
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
  }

  .leaflet-compact-attribution{
	display: none;
  }

  pre.ui-coordinates {
	position:relative;
	top: 0px;
	left:0px;
	padding:5px 5px;
	background:rgba(0,0,0,0.5);
	color:#fff;
	font-size: small;
	line-height:14px;
	border-radius:3px;
	}

  #mapaDenuncias {
	position:relative;
	top:0;
	bottom:0;
	width:300px; 
	height:250px;
}

  .imgDocumento{
	margin-top: 0px;
	margin-bottom: -5px;
	width: 300px;
	height: 345px;
	border-radius: 5px;
  }

  #imgCloseBtn{
	margin-top: 0px;
  }

  #inputRequerimento{
	margin-top: 5px;
	width: 270px;
	height: 80px;
  }

 .dadosDetalhesTable{
	position: relative;
	width: 100%;
	text-align:justify;
	color: rgba(0, 0, 0, 1);
	font-size:small; 
	font-weight: normal;
	border-collapse: collapse;	
 }

 .dadosDetalhesTable th{
	height: 10px;
	background-color: rgba(255, 255, 255, 1);
	border-bottom: 1px solid black;
	font-size: small;
	font-weight: bold;
	text-align: right;
	vertical-align: bottom;
 }

 .dadosDetalhesTable td{
	text-align: left;
 }

input[type=text]:focus {
	border-bottom-color: rgba(0, 0, 0, 0.5);
	border-bottom-width: 4px;
}

input[type=password]:focus {
	border-bottom-color: rgba(0, 0, 0, 0.5);
	border-bottom-width: 4px;
}

input[type=text]:disabled {
	background-color: rgba(255, 255, 255, 0.5);
}

input[type=date]:focus {
	border-bottom-color: rgba(0, 0, 0, 0.5);
	border-bottom-width: 4px;
}

select:focus {
	border-bottom-color: rgba(0, 0, 0, 0.5);
	border-bottom-width: 4px;
}

#alertTelaDiv{
    display: none;
    position:absolute;    
    width: 100%;
    height: 100%;       
    z-index:100;
    margin-left: 0px;
    margin-top: 0px;
    border: 0;
    overflow: hidden;
    text-align: center;
}

#alertTelaDivCentro{
    display: block;
    position:absolute;
    width: 220px;
    height: 90px;       
    z-index:100;
    margin-left: -110px;
    margin-top: -45px;
    left: 50%;
    top: 50%;    
    background-color: rgba(0, 0, 0, 0.8);
    border: 0;
    overflow: hidden;
	text-align: center;
	font-size: x-small;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	font-weight: bold;
    border-radius: 7px;
}

#pausaDeTelaDiv{
    display: none;
    position:absolute;    
    width: 100%;
    height: 100%;       
    z-index:100;
    margin-left: 0px;
    margin-top: 0px;
    border: 0;
    overflow: hidden;
    text-align: center;
}

#pausaDeTelaDivCentro{
    display: block;
    position:absolute;    
    width: 100px;
    height: 60px;       
    z-index:99;
    margin-left: -50px;
    margin-top: -30px;
    left: 50%;
    top: 50%;    
    background:#000000;
	background-color: rgba(0, 0, 0, 0.8); 
    border: 0;
    overflow: hidden;
    text-align: center;
    border-radius: 7px;
}

  input[type=text]{
	  outline:none
  }

  input[button]{
	outline:none
  }

  .appPagina{
	margin-top: 0px;
  }

  .hidden{
	  display: none;
  }

  .lista{
	font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif, verdana;
	color: #000;	  
	font-size: small;
  }

  .lista th{
	background-color: rgba(0, 0, 0, 0.4);
	height: 30px;
  }

  .lista td{
	height: 24px;
	padding: 3px;
	text-align: center;
  }

  .table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, 0.1);
  }

  .tdAppSetas{
    border-spacing: 0px;
    border-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    text-align: center;
    align-items: center;
	padding: 0px;
    height: 100%;
    width: 13px;
}

.image-conteudo{
	position: relative;
	left: 2px;
	width: 84px;
	align-content: center;
}

.image-upload > input
{
	position: relative;
	width: 38px;
	height: 24px;
    display: none;
}

.image-remove
{
	position: relative;
	float: right;
	left: 0px;
	width: 38px;
	height: 24px;
}


/* checkbox - o container */
.labelFormCheckbox {
    display: block;
    position: relative;
    padding-left: 20px;
	margin-bottom: 12px;
    cursor: pointer;
	font-size: small;
	color: black;
	font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
	border-radius: 20%;
}

/* Hide the browser's default checkbox */
.labelFormCheckbox input {
    position: absolute;
    opacity: 0;
	cursor: pointer;
	border-radius: 20%;
}

/* Create a custom checkbox */
.marcaCheckbox {
    position: absolute;
    top: 0px;
    left: 35px;
    height: 25px;
    width: 25px;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 20%;
}

/* On mouse-over, add a grey background color */
.labelFormCheckbox:hover input ~ .marcaCheckbox {
	background-color: rgb(255, 204, 0);
	border-radius: 20%;
}

/* When the checkbox is checked, add a blue background */
.labelFormCheckbox input:checked ~ .marcaCheckbox {
	background-color: rgb(255, 204, 0);
	border-radius: 20%;
}

/* Create the checkmark/indicator (hidden when not checked) */
.marcaCheckbox:after {
    content: "";
    position: absolute;
	display: none;
	border-radius: 20%;
}

/* Show the checkmark when checked */
.labelFormCheckbox input:checked ~ .marcaCheckbox:after {
	display: block;
	border-radius: 20%;
}

/* Style the checkmark/indicator */
.labelFormCheckbox .marcaCheckbox:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
	transform: rotate(45deg);
	border-radius: 20%;
}


/* input radio - o container */
.labelForm {
	left: 0px;
	top: 0;
    position: relative;
    padding-left: 25px;
	margin-bottom: 0px;
    cursor: pointer;
	font-size: small;
	color: black;
	font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.labelForm input {
	position: absolute;
    top: 0;
	left: 0;
    height: 20px;
    width: 20px;		
    opacity: 0;
	cursor: pointer;
    border-radius: 20%;	
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 20%;
}

/* On mouse-over, add a grey background color */
.labelForm:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.labelForm input:checked ~ .checkmark {
	background-color: rgba(255, 204, 0, 1);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.labelForm input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.labelForm .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
  

.linkNivel2{
    background-color: rgb(255, 196, 0);
	vertical-align: middle;
	border-radius: 5px;
    border-spacing: 0px;
    border-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    text-align: center;
    padding: 0px;
    font-family: verdana, 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    color: #000000;
	text-shadow: 1px 1px 1px rgb(190, 190, 190);
    font-size: small;
    font-weight: bold;
    height: 37px;
    width: 297px;
    text-transform: uppercase;
   	cursor: pointer;    
}


.linkNivel2Space{
    height: 12px;
    width: 297px;
}

  .button{
	width: 300px;	  
	height: 37px;
	background-color: #000000;
	font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif, verdana;
	color: #FFFFFF;
	font-size: small;
	font-weight: bold;
	padding: 0px;
	float: left;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-radius: 5px;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	margin-left: 0px;
	margin-bottom: 10px;
	margin-top: 0px;
	text-transform: uppercase;
}

.image-removeBtn{
	background: url("../img/rem.png") no-repeat;
	width: 38px;
	height: 24px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-radius: 2px;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;	
	opacity: 0.2;
}

.buttonPointer{
	cursor: pointer;
}

.inputSelect{
	width: 300px;	
	height: 35px;
	background:rgb(255, 255, 255) url("../img/setaSelect.png") 95.5% 50% no-repeat;
	background-position: right top;
	font-family: verdana, 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	color: #505050;
	font-size: medium;
	font-weight: bold;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-radius: 2px;
	border-bottom-style: solid;
	margin-left: 0px;
	margin-top:  0px;
	margin-bottom: 10px;
	padding: 5px;
	padding-right: 35px;
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
}


.inputTextCopy{
	width: 290px;	
	height: 25px;
	background-color: #FFFFFF;
	font-family: verdana, 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	color: #505050;
	font-size: medium;
	font-weight: bold;
	padding: 5px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-radius: 2px;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #FFFFFF;
	margin-left: 0px;
	margin-top:  0px;
	margin-bottom: 10px;
}

.inputText{
	width: 290px;	
	height: 25px;
	background-color: #FFFFFF;
	font-family: verdana, 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	color: #505050;
	font-size: medium;
	font-weight: bold;
	padding: 5px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-radius: 2px;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #FFFFFF;
	margin-left: 0px;
	margin-top:  0px;
	margin-bottom: 10px;
}


.appLargura{
    width: 320px;
}

.appLargura2{
    width: 300px;
}

.protocolo{
    font-family: 'Roboto', verdana, 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	color: #ffffff;
	font-size: small;
	text-align: justify;
	font-weight: normal;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 20px;
}

.avisoLegal{
    font-family: 'Roboto', verdana, 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	color: #ffffff;
	font-size: small;
	text-align: justify;
	font-weight: normal;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 20px;
}


.app {   
    position: absolute;
    height:80%;
		width:100%;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
}

.appImgCenter{
	margin-left: 0px;
	margin-right: 0px;
}

.tdApp{
    vertical-align: top;
    border-spacing: 0px;
    border-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    text-align: center;
	padding: 0px;
    font-family: 'Roboto', verdana, 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
    font-size: small;
    font-weight: bold;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
}

.tdAppSetas{
    border-spacing: 0px;
    border-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    text-align: center;
    align-items: center;
    padding: 0px;
    height: 100%;
    width: 10px;
}

.telaAppNivel01{
	position: absolute;
	margin-top: 75px;
	align-content: top;
	text-align: center;
}

#navbar:active {
	background: rgba(127, 191, 63, 1);
}

#navbar {
	position: fixed;
	display: none;
	background: rgba(127, 191, 63, 0.8);
	border-bottom: 0px solid rgb(0, 0, 0);
	border-radius: 100%;
	text-align: right;
	bottom: 25px;
	right: 30px;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	align-items: center;
	padding: 0px;
	z-index: 2;
}

#navbar img{
	position: absolute;
	filter: invert(100%);
	top:50%;
	left:50%;
	width: 20px;
	height: 20px;
	margin-top:-10px;
	margin-left:-10px;
}

#navbarMensagens{
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	border-bottom: 0px solid rgb(0, 0, 0);
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	bottom: 0;
	right: 0;
	left: 0;
	width: auto;
	height: 34px;
	vertical-align: middle;
	text-align: center;
	z-index: 3;
	float: left;
	font-size: x-small;
	color: white;
	display: none;
}

#toolbar {
	background: rgb(0, 0, 0);
	border-bottom: 0px solid rgb(0, 0, 0);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: auto;
	height: 44px;
	vertical-align: middle;
}  


#toolbar h1 {
	color: #fff;
	font-size: medium;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 5px;
	right: 44px;
	left: 44px;
	width: auto;
	height: 44px;
}

#open-left:active {
	background-color: rgba(255, 255, 255, 0.2);
}	
  
  #open-left {
		position: absolute;
		top: 0;
		left: 0;
		background: url(../img/open.png) center center no-repeat;
		display: block;
		width: 44px;
		height: 44px;
		z-index: 998;
		border-radius: 100%;
  }
	
	#navbarVoltar:active {
		background-color: rgba(255, 255, 255, 0.2);
	}

	#navbarVoltar {
		position: absolute;
		top: 0;
		left: 0;
		background: url(../img/seta.png) center center no-repeat;
		display: none;
		width: 44px;
		height: 44px;
		z-index: 999;
		border-radius: 100%;
	}
	
  .snap-content {
	position: absolute;
	background: rgb(255, 196, 0);	
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: auto;
	z-index: 2;
	overflow: hidden; /* aqui controla o toolbar e o app  */
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translate3d(0, 0, 0);
	   -moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		 -o-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
  }

  .snap-drawer {
	background: rgb(255, 196, 0);
	color: #000;
	position: absolute;
	top: 0;
	right: auto;
	bottom: 0;
	left: auto;
	width: 265px;
	height: auto;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: width 0.3s ease;
	   -moz-transition: width 0.3s ease;
		-ms-transition: width 0.3s ease;
		 -o-transition: width 0.3s ease;
			transition: width 0.3s ease;
  }
   
  .snap-drawers {
	background: rgb(255, 196, 0);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: auto;
  }


.snap-drawer h3 {
  font-size: xx-large;
  font-weight: normal;
  margin: 15px;
}

.snap-drawer h4 {
  padding: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
}

.snap-drawer p {
  opacity: 0.5;
  padding: 15px;
  font-size: small;
}

.snap-drawer-left {
	left: 0;
	z-index: 1;
  }
  
  .snap-drawer-right {
	right: 0;
	z-index: 1;
  }
  
  .snapjs-left .snap-drawer-right,
  .snapjs-right .snap-drawer-left {
	display: none;
  }
  
  .snapjs-expand-left .snap-drawer-left,
  .snapjs-expand-right .snap-drawer-right {
	width: 100%;
  }

/* Show "Left" drawer for the "Right" drawer in the demo */
.snapjs-right .snap-drawer-left {
	display: block;
	right: 0;
	left: auto;
}

/* Hide the actual "Right" drawer in the demo */
.snapjs-right .snap-drawer-right {
	display: none;
}

/* menu */
.snap-drawer ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
  }

.snap-drawer li > a {
	display: block;
	border-bottom: 1px solid rgba(0,0,0, 0.1);
	border-top: 1px solid rgba(225, 225, 225, 0.1);
	padding: 13px;
	font-weight: normal;
	font-size: medium;
	text-shadow: 0 0px 0 #fff;
	text-decoration: none;
	color: #000;
	text-indent: 20px;
  }
 

.submenu li >a{
	position: relative;
	text-indent: 40px;
	border-bottom:0px;
	border-top:0px;
	padding: unset;
	padding: 5px;
}


.submenu{
	display: none;
}

.submenuNivel2 li >a{
	text-indent: 60px;
}

/* Show the "Drag" background in the demo */
#content {
	background: #ffffff url(../img/background.png);
	background-attachment: fixed;
}


#open-left {
  background: url(../img/open.png) center center no-repeat;
  display: block;
  width: 44px;
  height: 44px;
}

/* Show the red "No Drag" box in the demo */
#no-drag,
#do-drag {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 100px;
	margin-left: -25%;
	margin-top: -50px;
	background: red;
	color: #FFF;
	text-align: center;
	line-height: 100px;
}

#do-drag{
	background: green;
}

/* Styles for the social buttons in the demo */
.demo-social {
	padding: 0 15px;
}

/* Show the translucent white "Toggle" boxes in the demo */
.toggler {
	width: 80%;
	background: rgba(0,0,0,1);
	margin: 0 auto;
	position: relative;
	top: 70px;
	padding: 20px;
	margin-bottom: 20px;
	text-align: center;
}

/* Styles for expanding "Search" input in the "Expanding" demo */
.search {
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	   -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

#search {
	height: 30px;
	width: 87%;
	margin: 7px 7px 0 7px;
	background: linear-gradient(#414A5A,#4C5464);
	background: -webkit-linear-gradient(#414A5A,#4C5464);
	padding-left: 15px;
	border: 1px solid #222936;
	-webkit-border-radius: 25px;
	   -moz-border-radius: 25px;
	        border-radius: 25px;
	-webkit-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.5),0 1px 2px -1px rgba(255, 255, 255, 0.4);
	   -moz-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.5),0 1px 2px -1px rgba(255, 255, 255, 0.4);
	        box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.5),0 1px 2px -1px rgba(255, 255, 255, 0.4);
}

#search:focus {
	outline: none;
	border-color: #151515;
}

/* Styles for fading out the drawer content in the "Expanding" demo */
.drawer-inner {
	-webkit-transition: opacity 0.3s ease; 
	   -moz-transition: opacity 0.3s ease; 
	    -ms-transition: opacity 0.3s ease; 
	     -o-transition: opacity 0.3s ease; 
			transition: opacity 0.3s ease; 
}

.snapjs-expand-left .drawer-inner,
.snapjs-expand-right .drawer-inner {
	opacity: 0;
}

/* Styles for the "Settings" demo */
.opt {
	padding: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.opt p {
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 5px;
	color: rgba(0, 0, 0, 0.6);
}

.voltarBtn{
	background-color:rgba(255, 204, 0, 1);
	width: 300px;
	color: white;
}

.btnColors{
	background-color:rgba(255, 204, 0, 1);
	color: white;
  }
